@charset "UTF-8";
/* CSS Document 
Jordan Weaver 
Class 0813 */


/*Main Content*/
body{
	background:#0C0
}

h1 {
	margin: 25px, 20px;
	padding: 15px;
	border: 3px outset #C30; 
	background:#C00;
	color:#C90;
	font: rockwell extra bold;
	
}

header {
		display: inline;
}



h2 {
	font: Arial, Helvetica, sans-serif;
	outline: dotted, #CC0;
}



form{
	background:#C00;
	color: #C90;
	border: 2px outset #C30;
}

a{outline: 1px double #FFF;
color:#09F;
}

a:hover {color:#009; outline:none;}

overflow: {scroll;}